@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 97%;
    --foreground: 0 0% 3.9%;
    --card: 36 33% 97%;
    --card-foreground: 0 0% 3.9%;
    --popover: 36 33% 97%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 80 22% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 80 16% 54%;
    --secondary-foreground: 0 0% 9%;
    --muted: 80 16% 92%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 80 16% 92%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 16% 89%;
    --input: 80 16% 89%;
    --ring: 80 22% 41%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-neutral-100 text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
}